@model AjexCRUDMore.Models.ProductViewModel
@{
    ViewBag.Title = "Add";
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@using(Ajax.BeginForm(new AjaxOptions(){
    HttpMethod="Post",    
    OnSuccess="MyFunction",
    UpdateTargetId="result",
    OnBegin="MyFunction1",
    OnFailure="MyFunction2",
    
     }))
{
    @Html.LabelFor(x=>x.ProductName)
    @Html.EditorFor(model=>model.ProductName)
    @Html.ValidationMessageFor(x=>x.ProductName)
    
    <button>Submit</button>
    <h2 id="result"></h2>
}
<script>
    function MyFunction() {
        console.log("Fine");
    }
    function MyFunction1() {
        $("#result").html("Wait..");
    }
    function MyFunction2() {
        $("#result").html("server is diconnected");
    }

   
</script>