@model AjexCRUDMore.Models.ProductViewModel
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<!DOCTYPE html>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.ProductId)
        @Html.DisplayForModel();
        <button>Delete</button>
        @Html.ActionLink("List", "Index")
    }

<h1 id="result"></h1>

